/* 
  change your syntax highlighting theme here
  https://github.com/PrismJS/prism/tree/master/themes 
*/
@import "prismjs/themes/prism-solarizedlight.css";

:root {
  --primary: #4075a4;
  --secondary: #cdffff;
  --highlight: #0b151e;

  --text-header: var(--primary);
  --text-main-headers: var(--highlight);
  --text-links: #72c2ff;
  --text-footer: #72c2ff;

  --bg-main: white;
  --bg-dots: var(--primary);
  --bg-lesson: white;
  --bg-lesson-preface: var(--primary);

  --nav-buttons: var(--highlight);
  --nav-buttons-text: white;

  --corner-active: var(--highlight);
  --corner-inactive: #f4f4f4;
  --icons: var(--highlight);

  --emphasized-bg: #dce8ff;
  --emphasized-border: #aab6d2;
}
